ul li {
  padding-top:10px; 
  padding-bottom:10px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

span.dan {
  float:left;
  margin-left: 10px;
}

span.dan2 {
  display: block;
  margin-left: 200px;
  line-height: 24px;
}

details.prefecture {
  margin-left: 1rem;
}
label.city {
  margin-left: 2rem;
}