ul li {
  padding-top:10px; 
  padding-bottom:10px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

span.dan {
  margin-left: 10px;
  /* float:left; */
}

span.dan2 {
  display: block;
  margin-left: 200px;
  line-height: 24px;
}